@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-grey: #231F20;
  --black: #101010;
  --teal: #B8CCB8;
  --light: #EBF2EB;
  --freelance: #42CA49;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body {
  background: #231F20;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}

/* @supports (-webkit-touch-callout: none) {
  .h-screen {
    height: 100vh;
    max-height: -webkit-fill-available !important;
  }
} */