 .about {
     background-color: #1e2022;
     padding: 2vw;
 }

 .sectionTitle {
     border: 0.5vw dashed #c9d6df;
     width: 20vw;
     height: 3.5vw;
     text-align: center;
     color: #c9d6df;
     font-size: 1.75vw;
 }

 .container {
     margin-top: 1rem;
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
 }

 .text {
     font-size: 1.87vw;
     width: 57vw;
     height: 34vw;
     padding: 1em;
     border-right: 0.5em dashed #c9d6df;
     border-bottom: 0.5em dashed #c9d6df;
     font-weight: bold;
     color: #c9d6df;
 }

 .svg {
     width: 25vw;
     height: 25vw;
     align-self: flex-end;
 }

 .quote {
     font-style: italic;
     font-size: 2.5vw;
     opacity: 0.7;
 }

 /* 
 @media only screen and (max-width:600px) {
    .container{
        flex-direction: column;
        justify-content: center;
    }
  
} */