 .about {
     background-color: var(--one);
     padding: 3vw;
 }

 .sectionTitle {
     width: 20vw;
     height: 3.5vw;
     text-align: center;
     color: white;
     font-size: 2.5vw;
 }

 .container {
     margin-top: 1vw;
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
 }

 .text {
     line-height: 2.5vw;
     font-size: 1.5vw;
     width: 57vw;
     padding: 1vw;
     border-right: 0.5vw dashed white;
     border-bottom: 0.5vw dashed white;
     color: white;
 }

 .svg {
     width: 25vw;
     height: 25vw;
     align-self: flex-end;
 }

 .quote {
     font-style: italic;
     font-size: 2.5vw;
     opacity: 0.7;
     line-height: 5vw;
 }

 @media only screen and (max-width:700px) {
     .sectionTitle {
         width: 25vw;
         height: 5vw;
         font-size: 3.5vw;
     }
     .container {
         flex-direction: column;
         justify-content: center;
     }
     .text {
         display: block;
         margin: auto;
         font-size: 3vw;
         width: 85vw;
         padding: 2vw;
         line-height: 4vw;
         
     }
     .quote {
         font-size: 3.5vw;
         line-height: 8vw;
     }
     .svg {
         width: 33vw;
         height: 33vw;
         align-self: flex-end;
         display: block;
         margin: auto;
         justify-self: flex-start;
     }
 }