.projectsPage {
    background-color: var(--one);
    height: 140vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2vw;
}

.back {
    padding-top: 4vw;
}

.title {
    text-align: center;
}

.projectsGrid {
    margin-top: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-self: center;
    gap: 5vw;
}

.projectCard {
    color: black;
    height: 17vw;
    width: 20vw;
    background-color: var(--three);
    border-radius: 1vw;
    padding-top: 1vw;
}

.projectLogo {
    border-radius: 1vw;
    height: 10vw;
    width: 10vw;
    display: block;
    margin: auto;
}

.projectName {
    text-align: center;
    margin-top: 1vw;
    font-size: 1.3vw;
}

.projectShortdesc {
    font-size: 1vw;
    text-align: center;
    padding-top: 0.5vw;
    width: 75%;
    display: block;
    margin: auto;
}

.projectCard:nth-child(2n) {
    background-color: var(--two);
}

@media only screen and (max-width:850px) {
    
    .projectsGrid {
        grid-template-columns: 1fr;
    }
    .projectCard {
        color: black;
        height: 37vw;
        width: 45vw;
        background-color: var(--three);
        border-radius: 2vw;
        padding-top: 1vw;
    }
    .projectLogo {
        border-radius: 2vw;
        height: 20vw;
        width: 20vw;
    }
    .projectName {
        margin-top: 2vw;
        font-size: 2.75vw;
    }
    .projectShortdesc {
        font-size: 2.3vw;
        padding-top: 1vw;
    }
}