.companySection {
    padding: 2vw;
}

.sloganUp {
    align-self: flex-start;
    font-size: 3vw;
    border-top: 0.5vw dashed black;
    width: 25vw;
    height: 5vw;
}

.sloganDown {
    margin-left: auto;
    margin-right: 0;
    font-size: 3vw;
    border-bottom: 0.5vw dashed black;
    width: 30vw;
    height: 5vw;
}

.logo {
    height: 20vw;
    width: 20vw;
    display: block;
    margin: auto;
    align-self: center;
    justify-self: center;
}

.name {
    text-align: center;
    z-index: -100;
    font-size: 20vw;
    opacity: 0.7;
    color: var(--two);
    position: absolute;
    
}

@media only screen and (max-width:650px) {
    .sloganUp {
        font-size: 3vw;
        font-size: 5vw;
        width: 40vw;
        height: 7vw;
    }
    .sloganDown {
        font-size: 5vw;
        width: 50vw;
        height: 7vw;
    }
    .logo {
        height: 25vw;
        width: 25vw;
    }
    .name {
        font-size: 20vw;
    }
}