.companySection {
    padding: 3vw;
    background-color: white;
}

.sloganUp {
    font-size: 3vw;
    border-top: 0.5vw dashed black;
    border-left: 0.5vw dashed black;
    width: fit-content;
    padding: .4vw;

}

.sloganDown {
    margin-left: auto;
    margin-right: 0;
    font-size: 3vw;
    border-bottom: 0.5vw dashed black;
    border-right: 0.5vw dashed black;
    width: fit-content;
    padding: .4vw;
}

.container {
    display: flex;
    justify-content: center;
}

.logo {
    height: 13vw;
    width: 13vw;
    align-self: center;
}

.name {
    text-align: center;
    font-size: 16vw;
    opacity: 0.7;
    color: var(--two);
}