.contactSection {
    padding: 2vw;
    align-self: center;
    background-color: var(--two);
}

.sectionTitle {
    width: 20vw;
    height: 3.5vw;
    text-align: center;
    color: var(--one);
    font-size: 2.5vw;
}

.contactOptions {
    list-style: none;
    align-self: center;
}

.contactItem {
    display: flex;
}

.instaSvg {
    height: 6vw;
    width: 6vw;
}

.emailSvg {
    height: 6vw;
    width: 6vw;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vw;
}

.svg {
    width: 30vw;
    height: 20vw;
}

.leftText {
    padding-left: 1vw;
    width: 40vw;
    align-self: center;
    justify-content: center;
    font-size: 2.5vw;
    margin: 2vw;
    text-transform: uppercase;
    border-left: var(--one) dashed 0.5vw;
    border-top: var(--one) dashed 0.5vw;
    color: var(--one);
}

.rightText {
    width: 40vw;
    align-self: center;
    justify-content: center;
    font-size: 2.5vw;
    margin: 2vw;
    text-transform: uppercase;
    border-right: var(--one) dashed 0.5vw;
    border-bottom: var(--one) dashed 0.5vw;
    color: var(--one);
}

@media only screen and (max-width:650px) {
    .sectionTitle {
        width: 25vw;
        height: 5vw;
        font-size: 3.5vw;
    }
}