 .footer {
    background-color: #1e2022;
    padding: 1.5rem;
    height: 10rem;
    
    
}

.copyright {
    font-size: 1rem;
    text-align: center;
    color: white;
    opacity: 50%;
}

.instaSvg {
    height: 5rem;
    width: 5rem;
    background: linear-gradient(45deg,#F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    color: black;
    border-radius: 50%;
    padding: 0.75rem;
    display: block;
    margin: auto;
   margin-bottom: 2rem;
  

} 