:root {
    --one: #0F110C;
    --two: #95B2B8;
    --three: #736B92;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    animation: display 7s forwards;
}

@keyframes display {
    0% {
        overflow-y: hidden;
    }
    99% {
        overflow-y: hidden;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

body::-webkit-scrollbar-track {
    background-color: var(--one);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}