.header {
    background-color: white;
    padding: 2vw;
    display: grid;
    grid-template-areas: "logo name" "logo slogan";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    width: 100%;
}

.companyName {
    color: black;
    font-size: 13vw;
    grid-area: name;
    align-self: flex-start;
    height: 13vw;
    width: 60vw;
}

.companySlogan {
    color: black;
    font-size: 3vw;
    overflow: hidden;
    white-space: nowrap;
    animation: type 6s steps(32), blink 1s infinite;
    animation-delay: 2s;
    border-right: 0.25vw solid black;
    height: 4vw;
    width: 31.75ch;
    margin-left: 1vw;
    margin-top: 1vw;
    grid-area: slogan;
    align-self: flex-start;
}

.companyLogo {
    width: 22vw;
    justify-self: flex-end;
    grid-area: logo;
    align-self: flex-start;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    50% {
        width: 31.75ch;
    }
    100% {
        width: 31.75ch;
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black;
    }
}