 .navBar {
     background-color: var(--one);
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     height: 7.5vw;
     min-height: 5rem;
     max-height: 7rem;
     padding: 1vh;
 }

 .navItem {
     color: white;
     font-weight: bold;
     font-size: 1.5em;
 }

 .brain {
     width: 5.5vw;
     min-width: 3rem;
     color: white;
     animation: spinningSVG 5s;
     animation-iteration-count: infinite;
     z-index: 1;
 }

 @keyframes spinningSVG {
     from {
         transform: rotate(0deg);
     }
     25% {
         transform: rotate(-45deg);
     }
     to {
         transform: rotate(360deg);
     }
 }

 @media only screen and (max-width:600px) {
     .navItem {
         font-size: 1.1em;
     }
 }