 .navBar {
     background-color: var(--one);
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     height: 7.5vw;
     min-height: 5rem;
     max-height: 7rem;
     padding: 1vh;
 }

 .navItem {
     color: white;
     font-weight: bold;
     font-size: 2vw;
     border-bottom: 0.3vw dashed white;
 }

 .navItem:hover {
     font-size: 2.5vw;
 }

 .brain {
     width: 5.5vw;
     width: 5.5vw;
     align-self: center;
     justify-self: center;
     min-width: 3rem;
     color: white;
     animation: spinningSVG 5s;
     animation-iteration-count: infinite;
     z-index: 1;
 }

 @keyframes spinningSVG {
     from {
         transform: rotate(0deg);
     }
     25% {
         transform: rotate(-45deg);
     }
     to {
         transform: rotate(360deg);
     }
 }

 @media only screen and (max-width:600px) {
     .navItem {
         font-size: 4vw;
         border-bottom: .75vw dashed white;
     }
     .navItem:hover {
         font-size: 4vw;
     }
 }