.sectionHeader {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    font-size: 2.5vw;

}



.projectsSection {
    background-color: var(--one);
    padding: 3vw;
}

.sectionTitle {
    width: 20vw;
    height: 3.5vw;
    text-align: center;
    color: white;
    font-size: 2.5vw;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text {
    color: white;
    align-self: center;
    font-size: 5vw;
}

.svg {
    height: 30vw;
    width: 30vw;
}

@media only screen and (max-width:700px) {
    .sectionTitle {
        width: 25vw;
        height: 5vw;
        font-size: 3.5vw;
    }
}