.projectPage {
    background-color: var(--one);
    padding: 2vw;
}

.back {
    color: white;
    cursor: pointer;
}

.nameLogo {
    display: flex;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 3vw;
}

.projectLogo {
    height: 15vw;
    width: 15vw;
    border-radius: 2vw;
}

.nameDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 3vw;
}

.projectName {
    color: var(--two);
    font-size: 3.5vw;
}

.projectDesc {
    color: var(--three);
    font-style: italic;
    font-size: 2vw;
}

.projectDate {
    color: var(--two);
    font-size: 1.5vw;
}

.text {
    width: 80vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 3vw;
    color: white;
    font-size: 1.5vw;
}

.screenshotContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    margin-left: 15%;
    /* margin: auto; */
}

.screenshot {
    width: 18vw;
    border-radius: 1vw;
    margin: 1vw;
}

@media only screen and (max-width:650px) {
    .projectPage {
        height: auto;
    }
    .nameLogo {
        margin-top: 3vw;
    }
    .projectLogo {
        height: 25vw;
        width: 25vw;
    }
    .projectName {
        color: var(--two);
        font-size: 5.5vw;
    }
    .projectDesc {
        color: var(--three);
        font-style: italic;
        font-size: 4vw;
    }
    .projectDate {
        font-size: 2.25vw;
    }
    .text {
        width: 90vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-left: 3vw;
        color: white;
        font-size: 3vw;
    }
    .screenshotContainer {
        gap: 3vw;
        grid-template-columns: 1fr 1fr;
        margin-left: 10%;

    }
    .screenshot {
        width: 35vw;
        border-radius: 1vw;
        margin: 1vw;
    }
}