.projectsSection {
    background-color: #1e2022;
    padding: 2vw;
}

.sectionTitle {
    border: 0.5vw dashed #c9d6df;
    width: 20vw;
    height: 3.5vw;
    text-align: center;
    color: #c9d6df;
    font-size: 1.75vw;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.text{
    color: #c9d6df;
    align-self:center;
    font-size: 5vw;
}

.svg {
    height: 30vw;
    width: 30vw;
}

@media only screen and (max-width:700px) {
    .sectionTitle {
        width: 25vw;
        height: 5vw;
        font-size: 2.75vw;
    }
}