
.skillsSection {
    background-color: #52616b;
}

.cardList {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
    background-color: #52616b;
    justify-content: center;
}

.cardList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.cardList::-webkit-scrollbar-thumb {
    background: #1e2022;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.cardList::-webkit-scrollbar-track {
    background-color: #1e2022;
}

.card {
    height: 400px;
    width: 275px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #1e2022;
    box-shadow: -0.5rem 0 1rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.cardHeader p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #c9d6df;
}

.cardHeader h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: white;
}

.cardHeader h2:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}




.skillImg{
    align-self: center;
    
}
