.skillsSection {
    background-color: #52616b;
    padding: 2vw;
}

.sectionTitle {
    border: 0.5vw dashed #1e2022;
    width: 20vw;
    height: 3.5vw;
    text-align: center;
    color: #1e2022;
    font-size: 1.75vw;
}

.container {
    margin-top: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.svg {
    width: 25vw;
    height: 25vw;
    align-self: flex-end;
}

.cardList {
    display: flex;
    overflow-x: visible;
}

.card {
    height: 25vw;
    width: 18vw;
    padding: 1vw;
    border-radius: 16px;
    background: #1e2022;
    box-shadow: -0.5vw 0 1vw #000;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: .2s;
   
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:hover~.card {
    transform: translateX(13vw);
}

.card:not(:first-child) {
    margin-left: -13vw;
}

.skillImg {
    align-self: center;
    height: 10vw;
    width: 10vw;
}

.cardHeader h2 {
    font-size: 1.3vw;
    margin: .25vw 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    cursor: pointer;
    color: white;
    text-align: center;
    align-self: center;
}


.cardHeader p {
    font-size: 1vw;
    margin: 0 0 1vw;
    color: #c9d6df;
    margin-top: 0.5vw;
}

.cardList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.cardList::-webkit-scrollbar-thumb {
    background: #1e2022;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.cardList::-webkit-scrollbar-track {
    background-color: #1e2022;
}

@media only screen and (max-width:650px) {

    .skillsSection {
        padding-bottom: 4vw;
    }
    .sectionTitle {
        width: 25vw;
        height: 5vw;
        font-size: 2.75vw;
    }
    .container {
        flex-direction: column;
        justify-content: center;
    }
    .svg {
        width: 40vw;
        height: 40vw;
        align-self: flex-end;
        display: block;
        margin: auto;
        justify-self: flex-start;
    }
    .cardList {
        display: grid;
        gap: 3vw;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        margin: auto;
    }
    .card {
        height: 47.5vw;
        width: 37.5vw;
        padding: 1vw;
        border-radius: 16px;
        background: #1e2022;
        box-shadow: -0.5vw 0 1vw #000;
        display: flex;
        justify-content: space-evenly;
    
    }
    .card:hover~.card {
        transform: none;
    }
    .card:not(:first-child) {
        margin-left: unset;
    }
    .skillImg {
        align-self: center;
        height: 20vw;
        width: 20vw;
    }
    .cardHeader h2 {
        font-size: 3.5vw;
        margin: .25vw 0 auto;
        text-decoration: none;
        color: inherit;
        border: 0;
        cursor: pointer;
        color: white;
        text-align: center;
        align-self: center;
    }

    .cardHeader p {
        font-size: 2vw;
        margin: 0 0 1vw;
        color: #c9d6df;
        margin-top: 0.5vw;
        text-align: center;
    }
}