.skillsSection {
    background-color: #52616b;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.075fr 1fr;
    grid-template-areas: 
    "title title"
    "svg skills";

}

.sectionTitle {
    color: #1e2022;
    border: 0.5rem dashed #1e2022;
    width: 17rem;
    text-align: center;
    grid-area: title;
}



.svg {
    height: 22rem;
    width: 22rem;
    align-self: flex-end;
    margin: 2rem;
    grid-area: svg;
}

.cardList {
    display: none;
    padding: 3rem;
    overflow-x: visible;
    grid-area: skills;
}

.card {
    height: 18.5rem;
    width: 12.5rem;
    min-width: 250px;
    padding: 1rem;
    border-radius: 16px;
    background: #1e2022;
    box-shadow: -0.5rem 0 1rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.skillImg {
    align-self: center;
    height: 8rem;
    width: 8rem;
}

.cardHeader h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    cursor: pointer;
    color: white;
    text-align: center;
    align-self: center;
}

.cardHeader h2:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.cardHeader p {
    font-size: .75rem;
    margin: 0 0 1rem;
    color: #c9d6df;
    margin-top: 0.5rem;
}

.cardList::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.cardList::-webkit-scrollbar-thumb {
    background: #1e2022;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.cardList::-webkit-scrollbar-track {
    background-color: #1e2022;
}

@media only screen and (max-width:700px){


    .skillsSection {
        background-color: blue;
        padding: 2rem;
    }
}