
.splash {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    animation: display 5s forwards;
}

.companyName {
    color: black;
    font-size: 13vw;
    height: 15vw;
    width: 100%;
}

.companySlogan {
    color: black;
    font-size: 3vw;
    overflow: hidden;
    white-space: nowrap;
    animation: type 3s steps(32) forwards, blink 1s infinite;
    animation-delay: 2s;
    border-right: 0.25vw solid black;
    height: 4vw;
    width: 0;
    margin-left: 1vw;
    margin-top: 1vw;
}

.companyLogo {
    width: 22vw;
    height: 22vw;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    50% {
        width: 53vw;
    }
    100% {
        width: 53vw;
    }
}

@keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black;
    }
}

@keyframes display {
    0% {
        opacity: 1;
        z-index: 10;
        
    }
    90% {
        opacity: 1;
        z-index: 10;
        
    }
    99% {
        z-index: 10;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -200;
    }
}

@media only screen and (max-width:650px) {
    .splash {
        flex-direction: column;
        padding-top: 35vw;
        justify-content: start;
    }
    .companyLogo {
        width: 40vw;
        height: 40vw;
    }
    .companySlogan {
        text-align: start;
        justify-self: start;
        font-size: 4vw;
        height: 5vw;
    }
    .companyName {
        font-size: 14vw;
        text-align: center;
        justify-self: center;
        align-self: center;
    }
    .container {
        display: flex;
        height: 25vw;
        width: 70vw;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
@keyframes type {
    0% {
        width: 0ch;
    }
    50% {
        width: 70.5vw;
    }
    100% {
        width: 70.5vw;
    }
}
}